NET "clk" LOC = B8; # Clock signal
NET "channels_L[0]" LOC = L17; #JA3
NET "channels_L[1]" LOC = M15; #JA4
NET "channels_R[0]" LOC = M14; #JA9
NET "channels_R[1]" LOC = M16; #JA10
NET "leds[0]" LOC = P4; #LD7
NET "leds[1]" LOC = E4; #LD6
NET "leds[2]" LOC = P16; #LD5
NET "leds[3]" LOC = E16; #LD4
NET "anodes[0]" LOC = F17;
NET "anodes[1]" LOC = H17;
NET "anodes[2]" LOC = C18;
NET "anodes[3]" LOC = F15;
NET "sseg[0]" LOC = L18;
NET "sseg[1]" LOC = F18;
NET "sseg[2]" LOC = D17;
NET "sseg[3]" LOC = D16;
NET "sseg[4]" LOC = G14;
NET "sseg[5]" LOC = J17;
NET "sseg[6]" LOC = H14;
NET "sseg[7]" LOC = C17;
NET "switch0" LOC = G18;
NET "switch1" LOC = H18;
NET "reset" LOC = B18;