NET "clk" LOC = "B8";
NET "reset" LOC = "B18"; #btn 0
NET "start" LOC = "D18"; #btn 1
NET "stop" LOC = "E18"; #btn 2
NET "sda" LOC = "T17"; #JB1 pin 4
NET "scl" LOC = "R15"; #JB1 pin 3
NET "leds[0]" LOC = "J14";
NET "leds[1]" LOC = "J15";
NET "leds[2]" LOC = "K15";
NET "leds[3]" LOC = "K14";
NET "leds[4]" LOC = "E16";
NET "leds[5]" LOC = "P16";
NET "leds[6]" LOC = "E4";
NET "leds[7]" LOC = "P4";
NET "switches[0]" LOC = "G18";
NET "switches[1]" LOC = "H18";
NET "switches[2]" LOC = "K18";
NET "switches[3]" LOC = "K17";
NET "switches[4]" LOC = "L14";
NET "switches[5]" LOC = "L13";
NET "switches[6]" LOC = "N17";
NET "switches[7]" LOC = "R17";